<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

<div class="container">
    <span class="active-page">Number of employees in your department:</span>
    <!--<span th:text="${totalElements}"></span>-->
    <!--<br>-->

    <ul class="list-group">
        <li th:each="e : ${employees}" class="list-group-item">
            <span th:text="${e.firstName}"></span>
            <span th:text="${e.lastName}"></span>
            <br>
            <span th:text="${e.email}"></span>
            <br>
            <span th:text="${e.role}"></span>
            <form class="float-right" th:method="delete" th:action="@{|/employees/${e.email}|}">
                <button type="submit" name="submit" value="value" class="btn btn-sm">delete</button>
            </form>
        </li>
    </ul>

    <div class="pager">

        <a th:if="${hasPrevPage}" th:href="@{/employees(page=${pageNumber-1},size=1)}">prev</a>

        <a th:each="page:${#numbers.sequence(0,totalPages - 1)}"
           th:text="${page}"
           th:classappend="${page == pageNumber} ? active-page"
           th:href="@{/employees(page=${page},size=1)}"
           style="margin-right: 7px">
        </a>

        <a th:if="${hasNextPage}" th:href="@{/employees(page=${pageNumber+1},size=1)}">next</a>
    </div>

</div>


</body>
</html>