<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Me</title>
</head>
<body>

<div class="container-fluid" style="height: 50px; line-height: 50px; background-color: whitesmoke; margin-bottom: 20px">
    <nav class="container clearfix">
        <form class="float-right" action="#" th:action="@{/logout}" method="post" style="display: inline-block">
            <button class="btn btn-sm" type="submit">Logout</button>
        </form>
        <div>
            <span>Logged in: </span>
            <span style="font-weight: bold;" th:text="${email}"></span>
        </div>
    </nav>
</div>

<div class="container">
 me works
</div>
</body>
</html>