<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h3>Reset password</h3>
    <hr>
    <form th:action="@{/password-reset}" method="post">
        <fieldset>

            <div th:if="${param.error}" class="alert alert-danger">
                There is no registered user with this email
            </div>

            <div class="form-group">
                <label for="email">Enter your email address so we can send you the new password</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            </div>

            <button class="btn btn-block btn-success" type="submit">Login</button>
            <br>

        </fieldset>
    </form>
</div>
</body>
</html>