<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
<div class="container">
    <h2>Register</h2>
    <form th:action="@{/register}"  th:object="${employee}" method="POST" enctype="utf8">
        <div class="form-group">
            <label for="input-email">Email address</label>
            <input type="email" th:field="*{email}" class="form-control" id="input-email" placeholder="Enter email">
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-first-name">First name</label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="input-first-name" placeholder="Enter first name">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-last-name">Last name</label>
                    <input type="text" th:field="*{lastName}" class="form-control" id="input-last-name" placeholder="Enter last name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-password">Password</label>
                    <input type="password" th:field="*{password}" class="form-control" id="input-password" placeholder="Enter password">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-password-repeat">Repeat password</label>
                    <input type="password" th:field="*{verifyPassword}" class="form-control" id="input-password-repeat" placeholder="Repeat password">
                    <p class="alert alert-danger" th:if="${errorPasswordsDoNotMatch}" th:text="${errorPasswordsDoNotMatch}"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="input-birth-date">Birth date</label>
                    <input type="date" th:field="*{birthDate}" class="form-control" id="input-birth-date">
                </div>
            </div>
            <div class="col-sm-6">
                <label for="input-gender">Gender</label>
                <select id="input-gender" th:field="*{gender}" class="form-control">
                    <option value="" disabled="disabled" selected>Choose gender...</option>
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-block btn-success">Sign Up</button>
    </form>
    <br>
    <div class="alert alert-danger" th:if="${objectErrors} or ${fieldErrors}">
        <h2>Validation errors</h2>
        <ul class="list-group" th:if="${objectErrors}">
            <li class="list-group-item"
                th:each="error : ${objectErrors}"
                th:text="${error.defaultMessage}">
            </li>
        </ul>
        <ul class="list-group" th:if="${fieldErrors}">
            <li class="list-group-item"
                th:each="error : ${fieldErrors}"
                th:text="${error.field + ' ' + error.defaultMessage}">
            </li>
        </ul>
    </div>
</div>

</body>
</html>