<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Resetr password</title>
</head>
<body>
<div class="container">
    <h2>Enter your email to tecover your password</h2>
    <form>
        <div class="form-group">
            <input type="email" class="form-control" id="input-email" placeholder="Enter email">
        </div>
        <button class="btn btn-block btn-success">Send reset instructions on email</button>
    </form>
</div>
</body>
</html>